body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a2930;
  
}

.counterButton {
  background: #fff;
  border-radius: 8px;
  font-size: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0.5rem 0.25rem;
  border: 1.5px solid black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.wrapper{
  background-color: #c5c1c0;
  padding: 50px;
  border-radius: 30px;

}
.backG{
  background-color: #1a2930;
}
